<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--Variables de de sesion-->
    <context-param>
        <description>Variable de session inicio</description>
        <param-name>vsi</param-name>
        <param-value>open_</param-value>
    </context-param>
    <context-param>
        <description>Nombre de la aplicación</description>
        <param-name>appName</param-name>
        <param-value>opencore1</param-value>
    </context-param>
    <context-param>
        <description>Datos correo</description>
        <param-name>datosEmail</param-name>
        <param-value>server|puerto|tipo|usuario|contrasena</param-value>
    </context-param>
    <context-param>
        <description>Cadena de encriptacion</description>
        <param-name>SEC_ENCRYP</param-name>
        <param-value>encriptandoando</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/401.jsp</location>
    </error-page>
    <filter>
        <filter-name>AutenticarFilter</filter-name>
        <filter-class>filters.AutenticarFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutenticarFilter</filter-name>
        <url-pattern>/catalogos/general/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>listener.CloseSesionListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>35</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>false</scripting-invalid>
        </jsp-property-group>
    </jsp-config>
</web-app>
